        /**Meta**/
        
        .attribution {
            width: 100%;
            font-size: 11px;
            text-align: center;
            margin: 5px auto;
        }
        
        .attribution a {
            color: white;
            z-index: 4;
        }
        /**Global**/
        
        * {
            margin: 0;
            padding: 0;
            box-sizing: border-box;
        }
        
        body {
            width: 100%;
            height: 100vh;
            background: #fff;
            display: flex;
            justify-content: center;
            align-items: center;
        }
        
        .main {
            width: 100%;
            height: 100vh;
            background: hsl(185, 75%, 39%);
            overflow: hidden;
        }
        
        .container {
            width: 80%;
            background: white;
            position: absolute;
            border-radius: 15px;
            text-align: center;
            z-index: 2;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            overflow: hidden;
        }
        /*Images style*/
        
        div .upper_part {
            position: absolute;
            width: 100%;
            height: 22vh;
            background: url(./images/bg-pattern-card.svg);
            top: 0;
            border-radius: 15px 15px 0 0;
            z-index: -1;
        }
        
        div .profile_image {
            border-radius: 50%;
            border: 7px solid #fff;
            margin-top: 85px;
        }
        /**Letter Style**/
        
        h1 {
            font-family: Kumbh Sans;
            font-size: 1.12rem;
            font-weight: 700;
            color: hsl(229, 23%, 23%);
        }
        
        .sub {
            font-weight: 400;
            font-family: Kumbh Sans;
            color: hsl(227, 10%, 46%);
            font-size: 1rem;
            margin-top: 0.5rem;
        }
        
        .profile_details {
            margin-top: 1.4rem;
        }
        /**SVG image background**/
        
        .svg1 {
            position: absolute;
            transform: translate(-75%, -54%);
            clip-path: circle(40%);
            z-index: 1;
        }
        
        .svg2 {
            position: absolute;
            transform: translate(5%, 20%);
            clip-path: circle(40% at 50% 50%);
        }
        /**footer style**/
        
        hr {
            margin: 30px auto;
            color: hsl(227, 10%, 46%);
        }
        
        footer {
            display: flex;
            height: 10vh;
            margin: 8px 5px auto;
            justify-content: space-around;
        }
        /**Media Query **/
        
        @media (min-width: 375px) {
            .container {
                width: 30%;
                text-align: center;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
            }
            .main {
                width: 100%;
                background: hsl(185, 75%, 39%);
            }
            .svg1 {
                position: absolute;
                transform: translate(-28%, -50%);
                clip-path: circle(39% at 50% 50%);
            }
            .svg2 {
                position: absolute;
                transform: translate(65%, 35%);
                clip-path: circle(49% at 50% 50%);
            }
        }
        /**Background* click path**/